*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
/* ul ও li এই দুই জায়গায় position relative খুবই গুরুত্বপূর্ণ */
ul{
    position: relative;
    width: 100%;
    background: #2c3e50;
    list-style: none;
    display: flex;
    visibility: visible;
}
/* ul এর width 100% দিয়ে ul li এর width 100% ও text-align: center দিলে 
মেনুর লিষ্টগুলো সব সময় অটোমেটিক মাঝখানে থাকবে */
ul li{
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
}
/* ul li a মার্জিন পাডিং যা দেওয়ার দরকার সব এখানে দিতে হবে z-index এখানে দিতে হবে 
তা নাহলে ড্রপডাউন মেনু হোভার অ্যানিমেশনে হেডার মেনু্র উপর দিয়ে ওভারফ্লো হবে*/
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    z-index: 1;
}
ul li:hover{
    background: #9b59b6;
}
/* .dropdown এইটাকে আনিমেশন করানোর জন্য position absolute দিয়ে flex-wrap দিয়ে top -600px দিয়ে উপরে তুলে নিতে হবে এবং পরে হোভার করে অ্যানিমেশনে তা ঠিক পজিশনে নিয়ে আসতে হবে */
.dropdown{
    position: absolute;
    flex-wrap: wrap;
    width: 130%;
    top: -600px;
    left: 0;
    transition: 0.3s;
    z-index: -1;
}
ul li:hover .dropdown{
    top: 100%;
}
/* .dropdown2 দ্বিতীয় ড্রপডাউন যাতে প্রথম ড্রপডাউন এর উপরে চলে না আসে সেই জন্য .dropdown2 কে position absolute করে প্রথম ড্রপডাউন width যতো হবে দ্বিতীয় ড্রপডাউন কে বাম দিক থেকে ততোটা সরিয়ে নিয়ে আসতে হবে তাহলে ভালো ভাবে দেখা যাবে */
.dropdown2{
    position: absolute;
    flex-wrap: wrap;
    width: 100%;
    top: 0;
    left: 150%;
    transition: 0.3s;
    z-index: -1;
    opacity: 0;
}
.dropdown li:hover .dropdown2{
    left: 100%;
    opacity: 1;
}
#menu-header{
    display: none;
}
.down{
    display: none;
}
@media(max-width: 779px) {
    ul{
        display: table;
        width: 100%;
    }
    ul li{
        text-align: left;
    }
    /* এর পর জেক্যুয়েরী এর কাজ */
    /* .dropdown ও .dropdown2 দুটোরই পজিশন রিলেটিভ দিতে হবে তাহলে ভেতরের লিষ্টগুলো একটি লিষ্টের ভেতরেই থাকবে আর পজিশন দুটোরই টপ ও লেফট থেকে জিরো করে দিতে হবে transition none, visivility visibl, z-inde 1, opacity 1 এইগুলো দেওয়াই লাগবে*/
    .dropdown, .dropdown2{
        background: #34495e;
        position: absolute;
        left: 0;
        top: 100%;
        transition: none;
        visibility: visible;
        display: none;
        z-index: 1;
        opacity: 1;
    }
    /* .dropdown a, .dropdown2 a padding দিয়ে ভেতরের দিকে নিয়ে আসতে হবে যাতে আলাদা লুক আসে */
    .dropdown a{
        padding: 10px 30px;
    }
    .dropdown2 a{
        padding: 10px 60px;
    }
    .display{
        display: block;
    }
    /* যখন দ্বিতীয় ড্রপডাউন show হবে না তখন প্রথম ড্রপডাউন এর li:hover করলে দ্বিতীয় ড্রপডাউন কে left: 0 তে আনতে হবে 
    কারন প্রথম ড্রপডাউন এর width 100% নিয়ে আছে ও দ্বিতীয় ড্রপডাউন বড় স্কিনে left থেকে 150% সরে আছে, মানে স্ক্রিনের বাইরে আছে left: 0; দিয়ে ভেতরে আনতে হবে 
    opacity: 1 করতে হবে কারন বড় স্ক্রিনে opacity: 0 করা আছে z-index: 1 করতে হবে কারন বড় স্কিনে এইগুলো অন্য রকম আছে */
    .dropdown li:hover .dropdown2{
        left: 0;
        opacity: 1;
        z-index: 1;
    }
    /* #menu-header এর মধ্যে থ্রিলাইন মেনু আইকন ডানে বামে রাখার জন্য text align right বা left দিতে হবে .fa-bars এ text-align দিলে কাজ করবে না। */
    #menu-header{
        width: 100%;
        background: #2c3e50;
        display: block;
        text-align: right;
        border-bottom: 2px solid #2980b9;
    }
    .fa-bars{
        color: #fff;
        padding: 10px;
        font-size: 25px;
        border-left: 2px solid #30455a;
        cursor: pointer;
    }
    #menu-content{
        display: none;
    }
    /* fonstawesome ডাউন icon এ display inline-block না দিলে লাইন ভেঙ্গে icon লেখার নিচে দেখাবে */
    .down{
        display: block;
        display: inline-block;
    }
    .right{
        display: none;
    }
}
